<div class="container">
    <div class="footer__row">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <!-- Logo -->
            <a href="./" class="logo footer__logo">
                <img src="./assets/icons/Group 105.svg" alt="grocerymart" class="logo__img" />
                <h1 class="logo__title">Neutromed</h1>
            </a>
            <p class="footer__desc">Tư vấn tận tâm - Đảm bảo chất lượng - Giá cả hợp lý</p>

            <p class="footer__help-text">Nhận catalogue sản phẩm</p>
            <form action="" class="footer__form">
                <input type="text" class="footer__input" placeholder="Email address" />
                <button class="btn btn--primary">SEND</button>
            </form>
        </div>

        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">Thiết bị</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Khoa chẩn đoán hình ảnh</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Khoa hồi sức tích cực</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Khoa sản</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Phòng mổ</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Khoa nhi</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">Hỗ trợ</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Tư vấn</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Lắp đặt, sữa chữa</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">Tài liệu</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Tài liệu kỹ thuật</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Tài liệu hướng dẫn sử dụng</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Thông số kỹ thuật</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Phần mềm</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Cấu hình</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Kiểm định</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 5 -->
        <div class="footer__col">
            <h3 class="footer__heading">Liên hệ</h3>
            <ul class="footer__list">
                <li>
                    <p class="footer__label">Email</p>
                    <a href="mailto:skyonebiomed1@gmail.com" class="footer__link">neutromed@gmail.com</a>
                </li>
                <!-- <li>
                    <p class="footer__label">Hotline</p>
                    <a href="tel:18008888" class="footer__link">18008888</a>
                </li> -->
                <li>
                    <p class="footer__label">Địa chỉ</p>
                    <p class="footer__text">119 Lê Văn Khương, Phường Hiệp Thành, Quận 12, TP. Hồ Chí Minh, Việt Nam</p>
                </li>
                <li>
                    <p class="footer__label">Giờ làm việc</p>
                    <p class="footer__text">Thứ 2 - Thứ 7 08:00am - 05:00pm</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <p class="footer__copyright">© 2024 Neutromed. All rights reserved.</p>

        <div class="footer__socials">
            <a href="#!" class="footer__social-link footer__social-link--facebook">
                <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--youtube">
                <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--tiktok">
                <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--twitter">
                <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--linkedin">
                <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon" />
            </a>
        </div>
    </div>
</div>
